<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'App/padre.html' %}

{% load static %}

{% block title %} Editar PASS {% endblock title %}

{% block contenidoQueCambia %}
    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Cambiar pass">

    </form>

{% endblock %}

</body>
</html>