<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


{% extends 'App/padre.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block contenidoQueCambia %}
<section id="banner">
    <div class="container">
        <h1 class="section-title">Editar datos personales</h1>
        <p class="section-description">En esta sección puedes modificar tus datos y contraseña del sistema.</p>
    </div>
</section>

<form class="form-container" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="form-table">
        {{ mi_form.as_table }}
    </table>

    <div style="text-align: center;">
        <button class="btn btn-primary" type="button" onclick="redirectToChangePassword('{% url 'CambiarPass' %}')">Cambiar contraseña</button>
        <input type="submit" value="Actualizar">
    </div>
</form>
{% endblock %}

</body>
</html>