<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card   
 {
            /* Estilos para la tarjeta */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
        }

        .form-control {
            /* Estilos para los campos de entrada */
            border-radius: 5px;
            padding: 10px;
            width: 100%;
        }

        .btn-primary {
            /* Estilos para el botón */
            background-color: #007bff;
            border-color: #007bff;
        }
    </style>
</head>
<body>
    {% extends 'App/padre.html' %}

    {% load static %}

    {% block title %} Login {% endblock title %}

    {% block contenidoQueCambia %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">   

                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <div   
 class="card">
                            <div class="card-body">
                                {% if msg_login %}
                                    <div class="alert alert-{{ msg_login.tag }}">{{ msg_login.message }}</div>
                                {% endif %}
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                                </form>
                            </div>
                        </div>
                    </div>   

                </div>
            </div>
        </nav>
    </header>
    {% endblock %}
</body>
</html>