<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   

    <title>Formulario Registro Profesionales</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* Estilos para el título */
        h1 {
            text-align: center;
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 36px;
            margin-bottom: 30px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        }
    
    </style>
</head>
<body>   

    {% extends "app/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <section id="banner">
        <div class="container">
            <h1 class="section-title">Ingresar profesional</h1>
            <p class="section-description">En esta sección debes ingresar los datos básicos del personal ingresante.</p>
        </div>
    </section>
    <h2 style="text-align: center;">Completar aqui:</h2>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form class="form-container" action="" method="POST">
              {% csrf_token %}
      
              <table class="form-table">
                {{ miFormulario.as_table }}
                
              </table>
      
              <div class="form-actions text-center">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </form>
          </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>