<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "app/padre.html" %}
    {% load static %}
    {% block contenidoQueCambia %}

    <p>Estamos buscando el paciente: {{ nombre }}</p>

    {% if nombre %}
    <ul>
    {% for nombre in paciente %}
        <li><strong>Nombre:</strong> {{ nombre.nombre }}</li>
        <li><strong>Edad:</strong> {{ nombre.edad }}</li>
        <li><strong>Sintoma:</strong> {{ nombre.diagnostico }}</li>
    {% endfor %}
    </ul>
    {% endif %} 

    {% endblock %}
</body>
</html>